<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>web.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryList</servlet-name>
    <servlet-class>web.CategoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryList</servlet-name>
    <url-pattern>/CategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>web.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleCategory</display-name>
    <servlet-name>DeleCategory</servlet-name>
    <servlet-class>web.DeleCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleCategory</servlet-name>
    <url-pattern>/Dele</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkcode</servlet-name>
    <servlet-class>web.Checkcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkcode</servlet-name>
    <url-pattern>/Checkcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategory</display-name>
    <servlet-name>UpdateCategory</servlet-name>
    <servlet-class>web.UpdateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategory</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>